body{
    background-color: black;
}
h2{
    text-transform: uppercase;
    color: #31A8DD;
    letter-spacing: 3px;
    font-size: 32px;
    margin: 15px;
}
section {
  margin: 100px auto;
}
.banner{
background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
background-blend-mode: overlay;
color: white;
padding: 60px;
height: 605px;
}
.banner .logo {
  background-color: rgba(0, 0, 0, .2);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 16px;
}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-content h1{
    background:linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight:900;

}
.banner-content p{
    font-size: 19px;
    width: 510px;
    height: 46px;
    margin: 20px;
    text-align: center;
   

}
.banner-content button{
    color: #31A8DD;
    border: #31A8DD 1px solid;
    font-size: 16px;
    padding: 19px 91px;
    font-weight: 900;
    background: transparent;
    letter-spacing: 3px;
    margin: 20px;
    text-transform: uppercase;
}
#course-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 605px;
    color: white;
    gap: 1rem;
    justify-content: start;
}
#course-content p{
    font-size: 16px;
    text-align: center;
    width: 792px;
}

.module{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    margin-top: 24px;
    width: 535px;
    height: 51px;
    border: #31A8DD 1px solid;
    border-radius: 57px;
    font-size: 16px;
    box-shadow: inset  0 5px 15px rgba(0, 0, 0, 0.6);
}
.module span{
    color: #31A8DD; ;
}
#transform-world{
    height:560px;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}
#transform-world p{
    font-size: 40px;
    width: 244px;
    text-transform: lowercase;
    color: white;
    font-weight: 900;
    text-shadow: 3px 2px #33A8DB;
}
#professional-challenges{
    text-align: center;
    width: 800px;

}
#professional-challenges p{
    color: white;
    font-size: 16px;
}
footer{
    text-align: center;
    border-top: 3px solid #31A8DD;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));  
    padding: 50px;
}
footer p{
    color: white;
    font-size: 1rem;
}
footer p a{
    text-decoration: none;
    color:#31A8DD ;

}




